---
import Layout from "../../layouts/Layout.astro";

//import Experience from "../components/Experience.astro";
import SectionContainer from "../../components/Section_Container.astro";
import Hero from "../../components/Hero.astro";
---

<Layout
	title="dev-portfolio"
	description="Systems engineering student, available for internship, cybersecurity enthusiast."

	
>
	<main class="px-4">
		<SectionContainer class="py-40 pb-27">
			<Hero/>
		</SectionContainer>
	</main>
</Layout>