---
import Layout from "../layouts/Layout.astro";

//import Experience from "../components/Experience.astro";
import SectionContainer from "../components/Section_Container.astro";
import Projects_Article from "../components/Projects_Article.astro";
import FileCode from "../components/icons/file_code.astro";
import Hero from "../components/Hero.astro";
---
<Layout
	title="Porfolio the Cesar Gonzalez-student computer system and programming "
	description="lqljlkqklsjljwqs"
>
	<main class="px-4">
		<SectionContainer class="py-40 pb-27">
			<Hero/>
		</SectionContainer>
	</main>
</Layout>
