<div class="flex items-center "
{...Astro.props}>
    <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
      <span
        class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] 
        bg-[conic-gradient(from_90deg_at_50%_50%,#ff9100_0%,#ffcd8c_50%,#ff9100_100%)]
        dark:bg-[conic-gradient(from_90deg_at_50%_50%,#4902fa_0%,#916bf2_50%,#4902fa_100%)]"
      ></span>
      <div class="inline-flex items-center justify-center w-full px-5 py-1 text-sm 
      text-slate-900 bg-amber-300 rounded-full cursor-pointer 
      dark:bg-violet-950 dark:text-white backdrop-blur-2xl 
      whitespace-nowrap">
        <slot />
      </div>
    </span>
    </div>