---
import Toggle from "./Toggle.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div  class="flex flex-row  ">
  <header
    class="px-10 flex flex-col justify-center items-center py-5 w-full xl:w-[1120px] lg: text- mx-auto gap-4"
  >
    <nav class="flex flex-row gap-x-10 opacity-80">
      <a href={`/portfolio-dev/${lang}/`}> {t("nav.home")}</a>
      <!--<a href="#experience">Experience</a>
      <a href="#about">About</a>
      <a href="#projects">Projects</a>
      <a href="#contact">Contact</a>-->
      <Toggle />
    </nav>
</div>
