---
import ProjectsArticleItems from './Projects_Article_Items.astro'
const ARTICLE = [
  {
    title: 'Noteworthy technology acquisitions 2021',
    description: 'Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.',
    image: 'https://flowbite.com/docs/images/blog/image-1.jpg',
    link: '#',
  },
  {
    title: 'Noteworthy technology acquisitions 2021',
    description: 'Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.',
    image: 'https://flowbite.com/docs/images/blog/image-1.jpg',
    link: '#',
  },
  {
    title: 'Noteworthy technology acquisitions 2021',
    description: 'Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.',
    image: 'https://flowbite.com/docs/images/blog/image-1.jpg',
    link: '#',
  },
]
---
<!--Renderizado -->
<div class="items-center flex gap-10 py-10">
  {
    ARTICLE.map((article) => (
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <ProjectsArticleItems {...article} />
    </div>
    ))
  }

</div>

