---
import Layout from "../../layouts/Layout.astro";

//import Experience from "../components/Experience.astro";
import SectionContainer from "../../components/Section_Container.astro";
import Hero from "../../components/Hero.astro";
import { getLangFromUrl } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---
<Layout
	title="dev-portfolio"
	description="Estudiante de ingeniería de sistemas, disponible para prácticas, entusiasta de la ciberseguridad"
	lang={lang}
>
	<main class="px-4">
		<SectionContainer class="py-40 pb-27">
			<Hero/>
		</SectionContainer>
	</main>
</Layout>